### Import libraries

In [10]:
# import libraries
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
from keras import backend as K
import tensorflow as tf

# import dataframe
import pandas as pd
import numpy as np

### Load Dataset

In [11]:
# load the dataset
dataset = pd.read_csv('./Data/heart.csv' )

### For each Attribute:(all numwric-valued)
#### 1. age
#### 2. sex (either male or female)
#### 3. cp value
#### 4. trestbps value
#### 5. Cholestral level
#### 6. fbs value
#### 7. restecg value
#### 8. thalach
#### 9. exang
#### 10. oldpeak
#### 11. slope
#### 12. ca
#### 13. thal
#### 14.target

In [15]:
# First five Dataset:
dataset.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [16]:
# Last five Dataset
dataset.tail(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [17]:
# Check number of columns
len(dataset.columns)

14

In [18]:
# Check columns name.
dataset.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [19]:
# Type of the Dataset
type(dataset)

pandas.core.frame.DataFrame

In [20]:
# Data tyoes of the Dataset 
dataset.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [21]:
# Information of the Datset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
age         1025 non-null int64
sex         1025 non-null int64
cp          1025 non-null int64
trestbps    1025 non-null int64
chol        1025 non-null int64
fbs         1025 non-null int64
restecg     1025 non-null int64
thalach     1025 non-null int64
exang       1025 non-null int64
oldpeak     1025 non-null float64
slope       1025 non-null int64
ca          1025 non-null int64
thal        1025 non-null int64
target      1025 non-null int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

### Working more with this Dataset:

In [22]:
# Convert float64 to int64 of Oldpeak column:
dataset['oldpeak'] = dataset['oldpeak'].astype('int64')

In [23]:
# Information of the Dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
age         1025 non-null int64
sex         1025 non-null int64
cp          1025 non-null int64
trestbps    1025 non-null int64
chol        1025 non-null int64
fbs         1025 non-null int64
restecg     1025 non-null int64
thalach     1025 non-null int64
exang       1025 non-null int64
oldpeak     1025 non-null int64
slope       1025 non-null int64
ca          1025 non-null int64
thal        1025 non-null int64
target      1025 non-null int64
dtypes: int64(14)
memory usage: 112.2 KB

#### Care of Missing values

In [24]:
# Sum of missing value in column
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Check Target values; Heart attract or Not:

In [25]:
# Target values in this Dataset
dataset['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

### Statistics of the Dataset

In [26]:
# Statistics Dataset
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,0.796098,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.085408,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.000000,2.000000,4.000000,3.000000,1.000000

In [27]:
# Array of Dataset
DataValue = dataset.values
DataValue

array([[52,  1,  0, ...,  2,  3,  0],
       [53,  1,  0, ...,  0,  3,  0],
       [70,  1,  0, ...,  0,  3,  0],
       ...,
       [47,  1,  0, ...,  1,  2,  0],
       [50,  0,  0, ...,  0,  2,  1],
       [54,  1,  0, ...,  1,  3,  0]])

In [42]:
# Fix random seed for reproducibility
np.random.seed(7)

#### Spiliting dataset:

In [28]:
# Split Dataset
# Split into input (X) and output (y) variables
X = DataValue[:,0:13]
y = DataValue[:,13]

In [29]:
# Define the keras model
model = Sequential()
model.add(Dense(18, input_dim=13, activation='relu'))
model.add(Dense(13, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [30]:
# Compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
# Fit the keras model on the dataset
model.fit(X, y, validation_split=0.33,epochs=50, batch_size=15)

Epoch 1/50
46/46 [==============================] - 0s 4ms/step - loss: 0.2585 - accuracy: 0.8921 - val_loss: 0.3302 - val_accuracy: 0.8673
Epoch 2/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2512 - accuracy: 0.8878 - val_loss: 0.3321 - val_accuracy: 0.8702
Epoch 3/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2459 - accuracy: 0.8878 - val_loss: 0.3425 - val_accuracy: 0.8319
Epoch 4/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2418 - accuracy: 0.8863 - val_loss: 0.3376 - val_accuracy: 0.8614
Epoch 5/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.8834 - val_loss: 0.3234 - val_accuracy: 0.8555
Epoch 6/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2723 - accuracy: 0.8644 - val_loss: 0.3652 - val_accuracy: 0.8378
Epoch 7/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2374 - accuracy: 0.8790 - val_loss: 0.4049 - val_accuracy: 0.8230
Epoch 8/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2632 - accuracy: 0.8790 - val_loss: 0.3239 - val_accuracy: 0.8407
Epoch 9/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2322 - accuracy: 0.9067 - val_loss: 0.3424 - val_accuracy: 0.8614
Epoch 10/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2309 - accuracy: 0.8980 - val_loss: 0.3304 - val_accuracy: 0.8614
Epoch 11/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2474 - accuracy: 0.8921 - val_loss: 0.4053 - val_accuracy: 0.8201
Epoch 12/50
46/46 [==============================] - 0s 3ms/step - loss: 0.2698 - accuracy: 0.8761 - val_loss: 0.3653 - val_accuracy: 0.8348
Epoch 13/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2448 - accuracy: 0.8892 - val_loss: 0.3568 - val_accuracy: 0.8496
Epoch 14/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2312 - accuracy: 0.8936 - val_loss: 0.3384 - val_accuracy: 0.8466
Epoch 15/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2313 - accuracy: 0.8921 - val_loss: 0.3407 - val_accuracy: 0.8584
Epoch 16/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2428 - accuracy: 0.8790 - val_loss: 0.3427 - val_accuracy: 0.8614
Epoch 17/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2253 - accuracy: 0.9140 - val_loss: 0.3392 - val_accuracy: 0.8555
Epoch 18/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2396 - accuracy: 0.8950 - val_loss: 0.3928 - val_accuracy: 0.8319
Epoch 19/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2488 - accuracy: 0.8761 - val_loss: 0.3563 - val_accuracy: 0.8496
Epoch 20/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2475 - accuracy: 0.8863 - val_loss: 0.3586 - val_accuracy: 0.8319
Epoch 21/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2578 - accuracy: 0.8921 - val_loss: 0.3639 - val_accuracy: 0.8319
Epoch 22/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2334 - accuracy: 0.8907 - val_loss: 0.3350 - val_accuracy: 0.8437
Epoch 23/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2376 - accuracy: 0.8892 - val_loss: 0.3593 - val_accuracy: 0.8378
Epoch 24/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2370 - accuracy: 0.8921 - val_loss: 0.3312 - val_accuracy: 0.8496
Epoch 25/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2318 - accuracy: 0.8936 - val_loss: 0.3511 - val_accuracy: 0.8673
Epoch 26/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2374 - accuracy: 0.8878 - val_loss: 0.3771 - val_accuracy: 0.8319
Epoch 27/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2541 - accuracy: 0.8776 - val_loss: 0.3845 - val_accuracy: 0.8319
Epoch 28/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2829 - accuracy: 0.8703 - val_loss: 0.4042 - val_accuracy: 0.8260
Epoch 29/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.8659 - val_loss: 0.3703 - val_accuracy: 0.8378
Epoch 30/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2439 - accuracy: 0.9023 - val_loss: 0.3549 - val_accuracy: 0.8378
Epoch 31/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2467 - accuracy: 0.8892 - val_loss: 0.3331 - val_accuracy: 0.8437
Epoch 32/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2321 - accuracy: 0.8892 - val_loss: 0.4836 - val_accuracy: 0.8024
Epoch 33/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2656 - accuracy: 0.8834 - val_loss: 0.3578 - val_accuracy: 0.8348
Epoch 34/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2429 - accuracy: 0.8848 - val_loss: 0.3403 - val_accuracy: 0.8584
Epoch 35/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2378 - accuracy: 0.8892 - val_loss: 0.3725 - val_accuracy: 0.8466
Epoch 36/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2378 - accuracy: 0.8936 - val_loss: 0.3485 - val_accuracy: 0.8614
Epoch 37/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2345 - accuracy: 0.8950 - val_loss: 0.3384 - val_accuracy: 0.8466
Epoch 38/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2392 - accuracy: 0.8950 - val_loss: 0.3352 - val_accuracy: 0.8643
Epoch 39/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2311 - accuracy: 0.8848 - val_loss: 0.3522 - val_accuracy: 0.8407
Epoch 40/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2409 - accuracy: 0.8950 - val_loss: 0.3991 - val_accuracy: 0.8142
Epoch 41/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2348 - accuracy: 0.8892 - val_loss: 0.3370 - val_accuracy: 0.8466
Epoch 42/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2413 - accuracy: 0.8776 - val_loss: 0.3404 - val_accuracy: 0.8407
Epoch 43/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2307 - accuracy: 0.9023 - val_loss: 0.3530 - val_accuracy: 0.8525
Epoch 44/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2377 - accuracy: 0.8892 - val_loss: 0.3720 - val_accuracy: 0.8319
Epoch 45/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2300 - accuracy: 0.8980 - val_loss: 0.3788 - val_accuracy: 0.8289
Epoch 46/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2330 - accuracy: 0.8950 - val_loss: 0.3749 - val_accuracy: 0.8348
Epoch 47/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2614 - accuracy: 0.8761 - val_loss: 0.4061 - val_accuracy: 0.8142
Epoch 48/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2381 - accuracy: 0.8892 - val_loss: 0.3397 - val_accuracy: 0.8437
Epoch 49/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2277 - accuracy: 0.8950 - val_loss: 0.4087 - val_accuracy: 0.8260
Epoch 50/50
46/46 [==============================] - 0s 2ms/step - loss: 0.2273 - accuracy: 0.8950 - val_loss: 0.3535 - val_accuracy: 0.8407

In [44]:
# Evaluate the keras model
_, accuracy = model.evaluate(X, y)
print('Accuracy: %.2f' % (accuracy*100))

33/33 [==============================] - 0s 1ms/step - loss: 0.2649 - accuracy: 0.8761
Accuracy: 87.61

In [33]:
# Make class predictions with the model
predictions = (model.predict(X) > 0.5).astype(int)
# Summarize the first 5 cases
for i in range(5):
    print('%s => %d (expected %d)' % (X[i].tolist(), predictions[i], y[i]))

[52, 1, 0, 125, 212, 0, 1, 168, 0, 1, 2, 2, 3] => 0 (expected 0)
[53, 1, 0, 140, 203, 1, 0, 155, 1, 3, 0, 0, 3] => 0 (expected 0)
[70, 1, 0, 145, 174, 0, 1, 125, 1, 2, 0, 0, 3] => 0 (expected 0)
[61, 1, 0, 148, 203, 0, 1, 161, 0, 0, 2, 1, 3] => 1 (expected 0)
[62, 0, 0, 138, 294, 1, 1, 106, 0, 1, 1, 3, 2] => 0 (expected 0)